
    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>พีเอสไม้อัดไทย</h4>
              <h2>สินค้าของเรา</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div   id="main_product_list"></div>
    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">ทั้งหมด</li>
                  <li data-filter=".des">ไม้แบบก่อสร้าง</li>
                  <li data-filter=".dev">ไม้งานเฟอร์นิเจอร์</li>
                  @*<li data-filter=".gra">ทั้งหมด</li>*@
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    
                @for (int i = 0; i < 8; i++)
                {
                     <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href='@Url.Action("Details", "Product")'><img src="~/psplywood/assets/images/products/product_01.jpg" alt=""></a>
                        <div class="down-content">
                          <a href='@Url.Action("Details", "Product")'><h4>Tittle goes here</h4></a>
                          <h6>$18.25</h6>
                          <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                          <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                          </ul>
                          <span>Reviews (12)</span>
                        </div>
                      </div>
                    </div>
                            
                }
            </div>
          </div>
          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


@section Scripts {
    <script>
        // Shorthand for $( document ).ready()
        $(function() {
            var main_product_list = document.getElementById("main_product_list");

            main_product_list.scrollIntoView({
              behavior: "smooth",
              block: "start",
              inline: "nearest"
            });
        })

    </script>
}
