<div class="page-heading contact-heading header-text">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="text-content">
            </div>
         </div>
      </div>
   </div>
</div>
<div class="text-center">
   <div class="alert alert-success m-4 " role="alert">
      <h4 class="alert-heading"><b>ขออภัยค่ะ</b> ไม่พบหน้าที่คุณต้องการค่ะ</h4>
      <hr>
      <div class="text-center">
         <div class="md-12 mt-2">
            <b>Scan QRCode เพื่อติดต่อสอบถามหรือสั่งซืื้อ </b>
         </div>
         <div class="md-12 mt-4">
            <a target="_blank" href="https://lin.ee/1h0t3OF">
            <img width="150" src="https://qr-official.line.me/gs/M_067vmrrf_GW.png?oat_content=qr">
            </a>
         </div>
      </div>
      <p class="mb-0 mt-4">ขอบคุณที่ไว้วางใจใช้บริการกับเรา พีเอสไม้อัดไทย.</p>
   </div>
   <a href='@Url.Action("Index", "Home")'>กลับหน้าหลัก <i class="fa fa-angle-right"></i></a>
</div>